<?xml version="1.0" encoding="utf-8" ?>
<!--
有关如何配置 ASP.NET 应用程序的详细信息，请访问
http://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<connectionStrings>
		<add name="con" connectionString="Data Source=;Initial Catalog=asm32#net#datum#db;User Id=asm32net_dum3mr;Password=d8n0p7q4;Connection Timeout=2;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<!-- <compilation debug="true" targetFramework="2.0" /> -->
		<!-- <httpRuntime targetFramework="2.0" /> -->
		<compilation debug="true" />
	</system.web>
</configuration>
